DATABASE_URL='postgresql://postgres.[PROJECT-REF]:[YOURE-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1'
DIRECT_URL='postgresql://postgres.[PROJECT-REF]:[YOURE-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres'

NEXT_PUBLIC_SUPABASE_URL='https://[PROJECT-REF].supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='[YOURE-ANON-KEY]'
SUPABASE_SERVICE_ROLE_KEY='[YOURE-ROLE-KEY]'

# App
NODE_ENV="development"
SESSION_SECRET="[YOURE-SECRET]"
REGISTRATION_TOKEN="[YOURE-REG-TOKEN]"

# AI Assistant
GROQ_API_KEY="[YOUR-GROQ-API-KEY]"